[Unit]
Description={{ django_name }}
After=network.target

[Service]
WorkingDirectory={{ django_dest }}
ExecStart={{ django_dest }}/venv/bin/python{{ django_pythonversion }} {{ django_dest }}/venv/bin/gunicorn --error-logfile "/var/log/{{ django_name }}_error.log" --enable-stdio-inheritance --reload --log-level "debug" --timeout 6000 --bind 0.0.0.0:{{ django_port }} -w 4 {{ django_wsgi}}.wsgi
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=default.target
